body{
    background-color: white;
    zoom: 110%;
}


#bandcamp{
    margin: auto;
    display: block;
    width: 50%;
}

iframe{
    border-width: 5px; 
    border-style: solid; 
    margin: auto; 
    display: block; 
    border-color: white; 
    width: 100%; 
    height: 50vh;
}

#siteTitle{
    background-color: white;
    font-size: 3vw;
    width: 40%;
    position: relative;
    padding-left: 10vh;
}