body {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  #siteTitle {
    font-size: x-large;
    width: 40%;
    position: relative;
    padding-left: 5%;
    font-family: sans-serif;
  }
  
  #twitter {
    padding-left: 5%;
  }
  
  a {
    color: black;
    position: relative;
    cursor: pointer;
    width: 50%;
    font-family: sans-serif;
    font-size: x-small;
  }
  
  #title {
    padding-left: 5%;
    padding-top: 3%;
    font-family: sans-serif;
    font-size: large;
  }
  
  .item {
    color: rgb(132, 116, 116);
    padding-left: 5%;
    cursor: pointer;
    width: 100%;
    font-family: sans-serif;
    font-size: small;
  }
  
  /* === Showcase === */
  
  #showcase {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    z-index: 1;
    padding-right: 10%;
    padding-top: 1%;
    box-sizing: border-box;
  }
  
  #items {
    min-height: 200px;
    position: relative;
  }
  
  /* Injected content */
  
  .project {
    max-width: 525px;
    margin: 0 auto;
    padding: 0 1rem;
    color: #222;

  }
  
  .project iframe {
    width: 100%;
    height: 705px;
    border: 0;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
  }

  .project iframe.youtube {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    padding-top: 1%;

  }

  .text{
    font-family: sans-serif;
    font-size: small;
    line-height: 1.2;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    color: #222;
    padding-top: 2%;
  }
  
  .fade {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  #categories {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 1rem 5%;
    font-family: sans-serif;
    font-size: small;
  }
  
  .category {
    cursor: pointer;
    color: rgb(132, 116, 116);
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    display: inline-block;
  }
  
  .category:hover {
    color: black;
  }
  
  .category.active {
    color: black;
    border-bottom: 2px solid black;
  }
  
  .category-group {
    opacity: 0;
    transition: opacity 10ms ease;
    pointer-events: none;
    display: none;
  }
  
  .category-group.visible {
    opacity: 1;
    pointer-events: auto;
    display: block;
  }

  .category-group.fade-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* === Mobile === */
  
  @media (max-width: 767px) {
    body {
        overflow-y: hidden;
        overflow-x: auto;
      }
    #showcase {
      position: static;
      width: 100%;
      height: auto;
      padding: 2rem 0;
    }
  
    .project iframe {
      height: 470px;
    }
  
    .project {
      padding: 0 1rem;
    }
  }