body{
    background-color: white;
    zoom: 110%;
}


#bandcamp{
    margin: auto;
    display: block;
    width: 50%;
}

#siteTitle{
    background-color: white;
    font-size: 3vw;
    width: 40%;
    position: relative;
    padding-left: 10vh;
}