body{
    background-color: black;
}

#siteTitleWrapper{
    margin: auto;
    display: block;
    width: 50%;
}

#bandcamp{
    margin: auto;
    display: block;
    width: 50%;
}

#siteTitle{
    background-color: white;
    font-size: 3vw;
    width: 101%;
    position: relative;
    text-align: center;
}