#twitter{
    padding-left: 3%;
}
a{
    color:black;
    position: relative;
    cursor: pointer;
    width: 50%;
    font-family: sans-serif;
    font-size: x-small;
}
#siteTitle{
    font-size: x-large;
    width: 40%;
    position: relative;
    padding-left: 3%;
    font-family: sans-serif;
}

#blogpost{
    font-size: small;
    font-family: sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
    position: relative;
}

#imgs{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 32%;
}

audio{
    padding-top: 1%;
    width: 50%;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 767px) {
    #blogpost{
        width: 90%;
    }
    img {
      width: 100%;
    }
    audio{
        width: 100%;
    }
  }